

.navbar {
  background-image: url('/navimg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: white;
}
.logo {
  font-size: 50px;
  font-weight: bolder;
   text-align: left;
   font-family:serif;
  
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 4px 0;
}

.navLinks {
  font-family:serif;
  display: flex;
  gap: 3rem;
  list-style: none;
 
}

.navLinks li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}

.navLinks li a:hover {
  text-decoration: underline overline;
}


@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navLinks {
    flex-direction: column;
    position: absolute;
    top: 65px;
    right: 1rem;
    background-color: #8be5f7;
    padding: 1rem;
    border-radius: 8px;
    display: none;
  }

  .navLinks.active {
    display: flex;
  }
}
